.button01 {
    font-style: italic;
    min-width: 8.5rem;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.25rem 0 0.25rem;
    border-radius: 30px;
    font-family: poppins;
}

.input01 {
    width: 100%;
    position: relative;
    background: transparent;
    font-size: 1rem;
    outline: none;
    padding: 6px 5px 6px;
    z-index: 999;
}


.label01 {
    position: absolute;
    left: 0;
    top: 0;
    font-family: poppins;
    font-weight: bold;
    font-size: 1rem;
    z-index: 998;
    transition: all;
    transition: 0.15s ease-in-out;
    margin: 0px 5px;
}



.input01:focus+.label01 {
    font-size: 0.8rem;
    top: -25px
}



.input01:not(:focus):not(:placeholder-shown)+.label01 {
    font-size: 0.8rem;
    top: -25px
}