# Node.js dependencies
/node_modules
/client/node_modules
/api/node_modules
/api/uploads/usersAvatars/*
/api/uploads/postsImages/*

# docs
/client/docs
/api/docs


/client/src/private/*

# Environment variables
.env
.env.*
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Others
/client/tsconfig.app.tsbuildinfo
.DS_Store
/coverage
/client/dist
todo.txt
